* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: floralwhite;
}

/*Home page*/
.landing-grid {
  background: floralwhite;
  text-align: center;
  position: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.my-img {
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  float: center;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: #fbcd92;
}

.banner-text hr {
  border-top: 5px dotted #fbcd92;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: #fbcd92;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: #fbcd92;
  font-size: 5em;
  padding: 8px;
}

/*Contact page*/
.contact-body {
  /* margin: -10px auto 0 auto; */
  position: scroll;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 2em;
  /* background: black; */
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  background: white;
  color: #fbcd92;
  /* margin-bottom: 10px; */
  border-radius: 10px;
}

/* .contact-grid {
  text-align: center;
  color: #10292e;
} */

.my-img2 {
  height: 250px;
  border-radius: 50%;
  border: 3px solid white;
  float: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

.contact-grid h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #fbcd92;
}

.contact-grid p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

.contact-grid hr {
  border-top: 5px dotted cornsilk;
  width: 100%;
  margin: auto;
}

.contact-list i {
  font-size: 45px;
  padding-right: 0.5rem;
}

.projects-grid {
  display: flex;
  margin: 20px auto;
}

/* Resume Page*/
.resume-right-col {
  background: #10292e;
  color: #fbcd92;
  padding: 2em;
  border-radius: 10px;
}

.my-img3 {
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  float: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

/* Resume Page*/
.resume-left-col {
  background: #7c6e6e;
  color: #10292e;
  padding: 2em;
  border-radius: 10px;
}

/* About Page*/
.about-body {
  background: #162020;
  border-radius: 10px;
  margin: 20px auto;
  padding: 2em;
  justify-content: center;
  text-align: center;
  width: 90%;
  height: 700px;
  color: #80a5a5;
}

.about-body p {
  font-size: 25px;
  color: #dec394;
}

.about-body a {
  font-size: 25px;
  color: #dec394;
}

/* @media (max-width: 350px) {
} */
