.header-color {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Home page*/
.landing-grid {
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  text-align: center;
  position: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.my-img {
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  float: center;
  height: 300px;
  margin-top: 70px;
  margin-bottom: 0px;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

/*Contact page*/
.contact-body {
  margin: auto;
  position: scroll;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 580px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.my-img2 {
  height: 250px;
  border-radius: 50%;
  border: 3px solid white;
  float: center;
  margin-top: 5px;
  margin-bottom: 0px;
}

.contact-grid h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contact-grid p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* font-weight: bold; */
  font-size: 30px;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 70px;
  padding-right: 4rem;
}

.projects-grid {
  display: flex;
  margin-top: 10px;
}

/* Resume Page*/
.resume-right-col {
  background: #2a2d3e;
  color: white;
  padding: 2em;
}

.my-img3 {
  height: 200px;
  border-radius: 50%;
  border: 3px solid white;
  float: center;
  margin-top: 5px;
  margin-bottom: 0px;
}
